body {
  letter-spacing: -0.5px;
}

p {
  font-size: rem(14px);
  margin-bottom: rem(20px);

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none !important;
    }
  }
}

.is-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none !important;
  }
}

// Margins

.mb-0 {
  margin-bottom: 0;
}