body {
  letter-spacing: -0.5px;
}

p {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}

.is-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

// Margins

.mb-0 {
  margin-bottom: 0;
}