@import '~bulma/sass/utilities/initial-variables';



// Typography
$family-primary: 'Arca Majora', sans-serif;
$family-secondary: 'Poppins', sans-serif;


// Colors
$body-background-color: #fafafa;
$link: $grey-dark;
$red: #ff4747;

$primary: $red;

$grey-light: #ebebeb;
$yellow: #E4B326;

$success-dark: #006400;
$success-light: #e5efe5;
$danger-light: #fae5e5;
$danger-dark: #b30000;
