@import '~bulma/sass/utilities/initial-variables';



// Typography
$family-primary: 'Arca Majora', sans-serif;
$family-secondary: 'Poppins', sans-serif;


// Colors
$body-background-color: #fafafa;
$link: $grey-dark;
$red: #ff4747;

$primary: $red;
$yellow: #E4B326;
